<body>
<h1>We'd love to hear from you</h1>
<h3>You'll be the first to know about new product launches and receive skincare tips </h3><br>
<h3 id='scnd'>and advice personalized to your skincare needs.</h3>
<img src="assets/com.jpg" id="com">
<footer>
    contactez nous 
    <a href="https://www.facebook.com/CeraVe/"><img src="assets/fb.png" ></a>
    <a href="https://twitter.com/cerave"><img src="assets/twt.png" ></a>
    <a href="https://www.instagram.com/cerave/"><img src="assets/insta.png" ></a>
    
</footer>
</body>